flask
seaborn
matplotlib
japanize-matplotlib
scipy
statsmodels
numpy
pandas
scikit-learn
scikit-image
jupyter==1.0.0
jupyterlab==3.5.2
tabulate
ptitprince
matplotlib-venn
datasets
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu117
transformers==4.28.1
timm
ipyplot
torchsummary
tabulate
tokenizers==0.12.1
scrapy==1.6.0
spacy
nltk
langchain==0.0.152
slack_sdk==3.21.0
arxiv==1.4.4
wikipedia
einops
flash-attn==1.0.3.post0
triton==2.0.0.dev20221202